.core-wrapper{
   margin: 1em .5em 1em .5em;
}
.core-input{
   position: absolute;
   top: 1em;
}
.core-buttons{
   flex: 1 0 auto;
}
.exec{
  border: solid;
  cursor: pointer;
  width: 100%;
}
.no-exec{
  border: solid;
  cursor: default;
  width: 100%;
}
.top-input{
   flex: 1;
}
.set-portions{
  border: solid;
  padding-bottom: 0.5rem;
}
.small-icon{
  background-color: #BB963C;
  border-radius: .5em;
  cursor: pointer;
  margin: .5em;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
}
.label{
  padding: 1em;
  flex: 1;
  text-align: right;
}
.userInput{
  padding: 1em;
  flex: 0;
  width: 5px;
}
#execute{
  padding: 3em;
}
#traderAccount{
  border: solid;
  border-radius: 2rem 2rem 0rem 2rem;
  position: relative;
  margin: 1em;
  padding: 1em;
  overflow: visible;
}
#traderBuy {
  background-color: #5AAC5E;
  border: 0.25px solid rgba(255, 255, 255, .5);
  border-radius: 0rem 1rem 0rem 0rem;
  margin-left: .25rem;
}
#traderBuy .exec {
  background-color: #1CCF24;
}
#traderSell {
  background-color: #A33643;
  border: 0.25px solid rgba(255, 255, 255, .5);
  border-radius: 0rem 0rem 0rem 1rem;
  margin-right: .25rem;
}
#traderSell .exec {
  background-color: #FF2D24;
}
.tradePanel{
  color: black;
  flex: 1 0 auto;
  max-width: 50%;
  padding: 1em .5em 1em .5em;
}
.trade-icon{
  border: solid;
  position: absolute;
  top: -2em;
  left: -1em;
  height: 4em;
  width: 4em;
}
