#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fab{
  left: 0px;
  position: fixed;
  padding: 1rem;
  top: 0px;
  z-index: 8;
}
#settings{
  position: fixed;
  padding: 1rem;
  right: 0px;
  top: 0px;
  z-index: 8;
}
#upper-pane{
  height: 14rem;
}
#lower-pane{
  flex: 1 0 auto;
  overflow: visible;
  z-index: 7;
}
.app-row{
  display: flex;
  flex-flow: row nowrap;
}
.app-row .wrap{
  display: flex;
  flex-flow: row wrap;
}
.app-col{
  display: flex;
  flex-flow: column nowrap;
}
.app-col .wrap{
  display: flex;
  flex-flow: column wrap;
}
.button{
  cursor: pointer;
  border-radius: .5em;
}
.flex{
  flex: 1 0 auto;
}
.j-between{
  justify-content: space-between;
}
.j-around{
  justify-content: space-around;
}
.j-end{
  justify-content: flex-end;
}
.j-even{
  justify-content: space-evenly;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inputCryptoNumber{
  width: 16rem;
}
.i-baseline{
  align-items: baseline;
}
.i-center{
  align-items: center;
}
.i-end{
  align-items: flex-end;
}
.i-start{
  align-items: flex-start;
}
.i-stretch{
  align-items: stretch;
}
.icon-nav{
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}
.icon-nav-small{
  cursor: pointer;
  height: 2rem;
  margin: .25rem;
  width: 2rem;
}
.icon-small{
  width: 3rem;
  height: 3rem;
}
.icon-tiny{
  width: 1.5rem;
  height: 1.5rem;
}
.left{
  align-items: left;
  text-align: left;
}
.right{
  align-items: right;
  text-align: right;
}
.full-span{
  width: 100%;
}
