.oak-button{
  border-radius: .5em;
  cursor: pointer;
  position: relative;
}
.oak-checkbox{
  height: 1.5rem;
  width: 1.5rem;
}
.oak-checkbox-check{
  cursor: pointer;
}
.oak-row{
  display: flex;
  flex-flow: row nowrap;
}
.oak-row .wrap{
  display: flex;
  flex-flow: row wrap;
}
.oak-col{
  display: flex;
  flex-flow: column nowrap;
}
.oak-col .wrap{
  display: flex;
  flex-flow: column wrap;
}
.flex{
  flex: 1 0 auto;
}
.oak-between{
  justify-content: space-between;
}
.oak-around{
  justify-content: space-around;
}
.oak-end{
  justify-content: flex-end;
}
.oak-even{
  justify-content: space-evenly;
}
img.oak-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inputCryptoNumber{
  width: 16rem;
}
.oak-baseline{
  align-items: baseline;
}
.oak-center{
  align-items: center;
}
.oak-end{
  align-items: flex-end;
}
.oak-start{
  align-items: flex-start;
}
.oak-stretch{
  align-items: stretch;
}
.oak-util-b{
  background-color: rgba(4,4,4,0.2);
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}

.oak-input-number{
  width: 5rem;
}

.oak-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.oak-modal-wroaker {
  display: table-cell;
  vertical-align: middle;
}

.oak-modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.oak-modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.oak-modal-body {
  margin: 20px 0;
}

.oak-modal-default-button {
  float: right;
  margin: 1rem;
}
.oak-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.oak-err{
  background-color: #FE6464;
  color: red;
}

/*
 * The following styles are auto-applied to elements with
 * transition="oak-modal" when their visibility is toggled
 * by Vue
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.oak-modal-enter {
  opacity: 0;
}

.oak-modal-leave-active {
  opacity: 0;
}

.oak-modal-enter .oak-modal-container,
.oak-modal-leave-active .oak-modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
